* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.p-contact-main {
  padding: 118px 160px 152px 160px;
  width: 100%;
}

.p-contact-background {
  background-image: url("./src/assets/Dotted\ structure.png");
}

.p-contact-container {
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.p-get-in-touch h1 {
  color: var(--Black-Text-Primary, #111);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.92px;
}

.p-get-in-touch span {
  color: var(--Black-Text-Primary, #111);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.92px;
}

.p-get-in-touch p {
  color: var(--Grey-Text-Primary, #757575);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  width: 747px;
}

.p-contact-label p {
  color: var(--Blue-Primary, #0d85de);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.p-contact-text-main {
  background-size: 1px 1px;
  background-image: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255) 50%,
    rgba(255, 255, 255, 0) 80%
  );
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.p-contact-form-main {
  display: flex;
  gap: 40px;
}

.p-connect-with-us {
  display: flex;
  width: 50%;
  padding: 40px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 4px;
  background: var(--Blue-blue-50, #e7f3fc);
}

.p-contactUs-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 50%;
}

.p-connect-label p {
  color: var(--Black-Text-Primary, #111);
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.2px;
}

.p-contact-subtext-container {
  display: flex;
  gap: 32px;
  width: 381px;
  flex-direction: column;
}

.p-contact-subtext-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.p-call-details h1 {
  color: var(--Black-Text-Primary, #111);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.p-call-details p {
  color: var(--Grey-Text-Primary, #757575);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.p-call-details {
  display: flex;
  gap: 2px;
  flex-direction: column;
}

.p-svg-text-div {
  display: flex;
  align-items: center;
  gap: 5px;
  align-self: stretch;
  width: fit-content;
  cursor: pointer;
}

.p-svg-text-div p {
  color: var(--Black-Text-Primary, #111);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.p-first-last-name {
  display: flex;
  gap: 16px;
}

textarea::placeholder {
  color: var(--Black-Text-black-text-300, #606060);
  text-align: left;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.input-wrapper {
  --padding: 10px;
  --focus-color: #086ecc;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

input {
  display: flex;
  padding: 12px 16px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid var(--Grey-Text-grey-text-100, #d4d4d4);
  background: var(--White-BG, #fff);
  width: 100%;
}

.placeholder {
  cursor: text;
  position: absolute;
  background-color: white;
  left: var(--padding);
  padding: 0 4px;
  transition: all 0.2s ease-in;
  color: var(--Black-Text-black-text-300, #606060);
  text-align: left;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

input:is(:focus, :valid) {
  border: 1px solid var(--Active-text-field, #086ecc);
}

input:is(:focus, :valid) + .placeholder {
  transform: translatey(calc(-1 * var(--padding) - 12px));
  font-size: 14px;
  color: var(--focus-color);
}

.textarea-input {
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid var(--Grey-Text-grey-text-100, #d4d4d4);
  background: var(--White-BG, #fff);
  display: flex;
  height: 246px;
  padding: 12px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  resize: none;
}

.placeholder.textarea {
  cursor: text;
  position: absolute;
  background-color: white;
  left: var(--padding);
  padding: 0 4px;
  transition: all 0.2s ease-in;
  color: var(--Black-Text-black-text-300, #606060);
  text-align: left;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  top: 12px;
}

.p-submit button {
  width: 194px;
  border-radius: 4px;
  background: var(--Dark-Blue-Primary, #0b2a41);
  display: flex;
  height: 56px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  color: var(--White-BG, #fff);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  text-decoration: none;
}

.p-submit button:hover {
  background: var(--Dark-Blue-Primary-hover, #0d85de);
  border: none;
}

.p-submit a {
  width: 194px;
  border-radius: 4px;
  background: var(--Dark-Blue-Primary, #0b2a41);
  display: flex;
  height: 56px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  color: var(--White-BG, #fff);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  text-decoration: none;
}

.p-submit a:hover {
  background: var(--Dark-Blue-Primary-hover, #0d85de);
  border: none;
}

.p-brochure-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 80px 160px;
  gap: 40px;
}

.p-our-brochure-container {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 16px;
}

.p-image-gallery-container {
  display: flex;
  width: 60%;
  flex-direction: row;
  background: linear-gradient(90deg, #fff 73.7%, rgba(255, 255, 255, 0) 100%);
}

.p-download-label p {
  color: var(--Black-Text-Primary, #111);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.2px;
  background-size: 1px 1px;
  background-image: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255) 50%,
    rgba(255, 255, 255, 0) 80%
  );
}

.p-subtext-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  background-size: 1px 1px;
  background-image: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255) 50%,
    rgba(255, 255, 255, 0) 80%
  );
}

.p-subtext-div p {
  color: var(--Grey-Text-Primary, #757575);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 508px;
}

@keyframes slides-vertical {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes slides-vertical-reverse {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.p-gallery-slider {
  display: flex;
  gap: 20px;
  opacity: 0.5;
  background: linear-gradient(90deg, #fff 73.7%, rgba(255, 255, 255, 0) 100%);
}

.logos-vertical {
  overflow: hidden;
  padding: 30px 0px;
  position: relative;
  height: 400px;
}

.logos-vertical:before,
.logos-vertical:after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 50px;
  z-index: 2;
}

.logos-vertical:before {
  top: 0;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255)
  );
}

.logos-vertical:after {
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255)
  );
}

.logo_items-vertical {
  animation: 35s slides-vertical infinite linear;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding-top: 20px;
}

.reverse .logo_items-vertical {
  animation: 35s slides-vertical-reverse infinite linear;
}

.logo_items-vertical img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.gallery-slider-horizontal {
  display: none;
}

@media (width <=1200px) {
  .p-contact-main {
    flex-direction: column;
    padding: 88px 20px 0px;
  }

  .p-contact-form-main {
    flex-direction: column-reverse;
  }

  .p-connect-with-us,
  .p-contactUs-form {
    width: 100%;
  }

  .p-contact-label p {
    color: var(--Blue-Primary, #0d85de);
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
  }

  .p-get-in-touch {
    gap: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .p-get-in-touch h1 {
    color: var(--Black-Text-Primary, #111);
    text-align: center;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.2px;
    width: 100%;
  }

  .p-get-in-touch span {
    color: var(--Black-Text-Primary, #111);
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.2px;
  }

  .p-get-in-touch p {
    color: var(--Grey-Text-Primary, #757575);
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    width: 100%;
  }

  .p-contact-container {
    gap: 86px;
  }

  .placeholder,
  .placeholder.textarea {
    color: var(--Black-Text-black-text-300, #606060);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }

  .p-submit button {
    display: flex;
    height: 40px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--White-BG, #fff);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }

  .p-connect-label p {
    color: var(--Black-Text-Primary, #111);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .p-call-details h1 {
    color: var(--Black-Text-Primary, #111);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }

  .p-call-details p {
    color: var(--Grey-Text-Primary, #757575);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }

  .p-contact-subtext-div {
    gap: 8px;
  }

  .p-contact-subtext-container {
    gap: 24px;
    width: 100%;
  }

  .p-svg-text-div p {
    width: 268px;
  }

  .p-brochure-main {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    gap: 48px;
  }

  .p-our-brochure-container {
    width: 100%;
    padding: 0px 0px 0px 24px;
  }

  .p-subtext-div p {
    width: auto;
  }

  .p-gallery-slider {
    display: none;
  }

  @keyframes slides-horizontal {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes slides-horizontal-reverse {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(50%);
    }
  }

  .p-slider-cover {
    display: flex;
    width: 167%;
  }

  .gallery-slider-horizontal {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 0px 0px 40px 0px;
    background: linear-gradient(90deg, #fff 73.7%, rgba(255, 255, 255, 0) 100%);
  }

  .images-horizontal {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 80px;
  }

  .images-horizontal:before,
  .images-horizontal:after {
    position: absolute;
    top: 0;
    content: "";
    height: 100%;
    width: 50px;
    z-index: 2;
  }

  .image_items-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    height: 80px;
    width: 200%;
    animation: slides-horizontal 35s linear infinite;
  }

  .images-horizontal.reverse .image_items-horizontal {
    animation: slides-horizontal-reverse 35s linear infinite;
  }

  .image_items-horizontal img {
    width: 130px;
    height: 80px;
    display: block;
    border-radius: 4px;
  }

  .p-submit a {
    display: flex;
    height: 40px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--White-BG, #FFF);
font-variant-numeric: lining-nums proportional-nums;

/* M/Semibold */
font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 125% */
  }
}
