* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Navbar {
  display: flex;
  width: 100%;
  height: 64px;
  padding: 10px 160px;
  justify-content: space-between;
  align-items: center;
  background: var(--White-BG, #fff);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 100;
}

.navbarLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarLogo img {
  width: 196px;
  object-fit: cover;
  flex-shrink: 0;
}

.navbarTab {
  height: 44px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.navbarTabSet {
  display: flex;
  flex-direction: column;
  position: relative;
}

.navbarTabSetHeading {
  cursor: pointer;
  display: flex;
  padding: 4px 8px;
  align-items: center;
  gap: 8px;
}

.navbarTabSetHeading p {
  color: var(--Black-Text-black-text-300, #606060);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.navbarTabSetHeading a {
  text-decoration: none;
}

.navbarTabSetHeading svg {
  width: 16px;
  height: 16px;
  transition: all 0.3s;
}

.navbarTabSetDropdown {
  top: 28px;
  display: none;
  width: 290px;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  animation: navbarDropDown 0.5s forwards;
  background: #fff;
  border-radius: 8px;
  background: var(--White-BG, #fff);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
}

@keyframes navbarDropDown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navbarTabSetDropdown a {
  text-decoration: none;
  color: var(--Black-Text-black-text-300, #606060);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.navbarTabSet:hover .navbarTabSetDropdown {
  display: flex;
}

.navbarTabSetDropdown a:hover {
  color: #0d85de;
}

.navbarTabSet:hover .navbarTabSetHeading p {
  color: #0d85de;
}

.navbarTabSet:hover .navbarTabSetHeading svg {
  transform: rotate(-180deg);
}

.navbarTabSet:hover .navbarTabSetHeading svg path {
  fill: #0d85de;
}

.navbarContact a {
  text-decoration: none;
  display: flex;
  height: 40px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: var(--Dark-Blue-Primary, #0b2a41);
  transition: all 0.3s;
}

.navbarContact a p {
  color: var(--White-BG, #fff);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.navbarContact a svg {
  width: 20px;
  height: 20px;
  transition: all 0.3s;
  animation: navbarDropDown 0.5s forwards;
}

@keyframes contactSvg {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}

.navbarContactHoverSvg {
  display: none;
}

.navbarContact a:hover {
  border-radius: 4px;
  background: var(--Blue-Primary, #0d85de);
}

.navbarContact a:hover svg {
  display: none;
}

.navbarContact a:hover .navbarContactHoverSvg {
  display: block;
  animation: navbarDropDown 0.5s forwards;
}

/* Home */

.homeBanner {
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 138px;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(4) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z'  stroke-width='0.5' stroke='hsla(206, 76%, 83%, 0.5019607843137255)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

.homeBannerContent {
  display: flex;
  width: 777px;
  flex-direction: column;
  align-items: center;
  background-size: 800px 300px;
  background-image: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255) 50%,
    rgba(255, 255, 255, 0) 80%
  );
}

.homeBannerContent sub {
  color: var(--Blue-Primary, #0d85de);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.homeBannerContent .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.homeBannerContent .heading p {
  color: var(--Black-Text-Primary, #111);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.92px;
}

.homeBannerContent .heading p span {
  color: var(--Black-Text-Primary, #111);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.92px;
}

.homeBannerContent .heading sub {
  color: var(--Grey-Text-Primary, #757575);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.bannerButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerButton a {
  text-decoration: none;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: var(--Dark-Blue-Primary, #0b2a41);
}

.bannerButton a sup {
  color: var(--White-BG, #fff);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.bannerButton a svg{
width: 20px;
height: 20px;
}

.bannerButton a:hover{
  background: transparent;
  border-radius: 4px;
border: 1px solid var(--Dark-Blue-Primary, #0B2A41);
}

.bannerButton a:hover sup{
  color: var(--Dark-Blue-Primary, #0B2A41);
font-variant-numeric: lining-nums proportional-nums;
font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 20px;
}

.bannerButton a:hover svg path{
  fill: #0B2A41;
}

.s-banner-wrapper {
  max-width: 100%;
  overflow: hidden;
  background: #fff;
}

.s-banner-marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  animation: marquee 20s linear infinite;
}

.s-banner-marquee img {
  width: 421px;
  height: 270px;
  object-fit: cover;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

/* Footer */

.Footer {
  width: 100%;
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  background: var(--Dark-Blue-Primary, #0b2a41);
}

.footerContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.footerLogoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.footerIcons {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.footerIcons a {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.facebook:hover {
  background: #0d85de;
}

.twitter:hover {
  background: #000;
}

.linkedIn:hover {
  background: #0077b5;
}

.footerColumns {
  width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footerColumnSet {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.footerColumnSet .heading {
  color: var(--White-BG, #fff);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.footerColumnSet a {
  text-decoration: none;
  color: var(--Grey-Text-grey-text-100, #d4d4d4);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.footerSlogan {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  align-self: stretch;
}

.footerSlogan p {
  color: var(--Grey-Text-grey-text-100, #d4d4d4);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.footerSlogan .heading {
  color: var(--White-BG, #fff);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.footerCopyrights {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid #c0c0c0;
  padding-top: 24px;
}

.footerCopyrights p {
  color: var(--Grey-Text-grey-text-100, #d4d4d4);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.footerCopyrights a {
  color: #d4d4d4;
  text-decoration: underline;
}
